#images{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 220px;
    background-color: thistle;
    border-radius: 25px;
    border: 2px solid thistle;
    padding: 10px; 
}
#test{
    top: 80%;
}
body{
    font-family: monospace;
    background-image: url("https://img.freepik.com/free-vector/flat-design-poker-table-background_23-2151047014.jpg");
    color: thistle;
    font-size: 120%;
}

img {
    border-radius: 15px;
}